<strong>Добро пожаловать в админ панель</strong><br>
<button (click)="delUnusedCarts()" [disabled]='disable == true'>Удалить старые корзины</button><br>
<button (click)="delUnusedWish()" [disabled]='disable == true'>Удалить старые избранное</button><br>
<button (click)="roleUser = true; userNumber = null; findedUser = null; disable = true"
    [disabled]='disable == true'>Вывести пользователя</button><br>
<div *ngIf="roleUser">
    <div *ngIf="!findedUser">
        <p>Введите id пользователя:</p>
        <input type="text" [(ngModel)]="userNumber"><br>
        <button (click)="findUser(userNumber); userOrder = false; sendUser = true">Отправить</button><br>
        <button (click)="disable = false; roleUser = false">Закрыть</button><br>
    </div>
    <div *ngIf="findedUser">
        <div style="border: 1px solid black; width: 200px; padding: 20px; margin: 20px;">
            <p> {{findedUser.userid}}</p>
            <p> {{(findedUser.fullname != null) ? findedUser.fullname : 'Не указано'}}</p>
            <p> {{findedUser.phone}}</p>
            <p> {{(findedUser.email != null) ? findedUser.email : 'Не указано'}}</p>
            <p> {{findedUser.uuid}}</p>
            <div *ngIf="findedUser.ban == 1 && findedUser.usertype != 'admin'">
                Статус аккаунта: Заблокирован
                <button (click)="unblock(findedUser.userid)">Разблокировать</button>
            </div>
            <div *ngIf="findedUser.ban == 0 && findedUser.usertype != 'admin'">
                Статус аккаунта: Активный
                <button (click)="block(findedUser.userid)">Заблокировать</button>
            </div>
            <div *ngIf="findedUser.usertype != 'admin'">
                <button
                    (click)="delUser(findedUser); disable = false; roleUser = false; sendUser = false">Удалить</button>
            </div>
            <button (click)="userOrders(); userOrder = true">Получить заказы</button>
            <div *ngIf="userOrder">
                <div *ngIf="receivedOrders.length > 0">
                    <div *ngFor="let order of receivedOrders" [ngClass]="{'is-active': order.isActive}">
                        <strong>Заказ номер {{ order.orderId }}</strong>
                        <div *ngFor="let aorder of receivedAOrders">
                            <div *ngIf="aorder.orderId == order.orderId">
                                <p> {{ aorder.productTitle }} x {{ aorder.productQuantity }}</p>
                                <img src="{{ aorder.productImg }}" width="50">
                            </div>
                        </div>
                        <p>Статус заказа: {{ order.orderStatus }}</p>
                        <p>Сумма заказа: {{ order.orderCost }}</p>
                    </div>
                </div>
                <div *ngIf="receivedOrders.length == 0">
                    <p>Заказы не найдены!</p>
                </div>
                <button (click)="userOrder = false">Закрыть</button>
            </div>
        </div>
        <button (click)="disable = false; roleUser = false; sendUser = false">Закрыть</button>
    </div>
    <div *ngIf="!findedUser && sendUser">
        <p>Не найдено!</p>
    </div>
</div>
<button (click)="allUsers = true; listUsers(); disable = true" [disabled]='disable == true'>Вывести
    пользователей</button><br>
<div *ngIf="allUsers">
    <div *ngFor="let user of receivedUsers" style="display: inline-block;">
        <div style="border: 1px solid black; width: 200px; padding: 20px; margin: 20px;">
            <p> {{user.userid}}</p>
            <p> {{(user.fullname != null) ? user.fullname : 'Не указано'}}</p>
            <p> {{user.phone}}</p>
            <p> {{(user.email != null) ? user.email : 'Не указано'}}</p>
            <p> {{user.uuid}}</p>
            <div *ngIf="user.ban == 1 && user.usertype != 'admin'">
                Статус аккаунта: Заблокирован
                <button (click)="unblock(user.userid)">Разблокировать</button>
            </div>
            <div *ngIf="user.ban == 0 && user.usertype != 'admin'">
                Статус аккаунта: Активный
                <button (click)="block(user.userid)">Заблокировать</button>
            </div>
            <div *ngIf="user.usertype != 'admin'">
                <button (click)="delUser(user);">Удалить</button>
            </div>
        </div>
    </div><br>
    <button (click)="allUsers = false; disable = false">Закрыть</button>
</div>

<button (click)="editOProd = true; findedProd = null; prod = null; disable = true" [disabled]='disable == true'>Вывести
    товар</button><br>
<div *ngIf="editOProd">
    <div *ngIf="!findedProd">
        <p>Введите id товара:</p>
        <input type="text" [(ngModel)]="prod"><br>
        <button (click)="findProd(prod); sendProd = true">Отправить</button><br>
        <button (click)="editOProd = false; disable = false">Закрыть</button>
    </div>
    <div *ngIf="findedProd">
        <div style="border: 1px solid black; width: 200px; padding: 20px; margin: 20px;">
            <div *ngIf="edProd">
                <input type="file" (change)="onFileChange($event)"><br>
                <input type="text" value="{{findedProd.productArticle}}" #art
                    (keyup)="product.productArticle = art.value"><br>
                <input type="text" value="{{findedProd.productPrice}}" #price
                    (keyup)="product.productPrice = price.value"><br>
                <input type="text" value="{{findedProd.productQuantity}}" #quan
                    (keyup)="product.productQuantity = quan.value"><br>
                <input type="text" value="{{findedProd.productTitle}}" #titl
                    (keyup)="product.productTitle = titl.value"><br>
                <button (click)="editProd(findedProd); edProd = false">Сохранить</button>
                <button (click)="edProd = false">Отменить</button>
            </div>
            <div *ngIf="!edProd">
                <img src="{{ findedProd.productImg }}" width="50">
                <p>Наименование: {{findedProd.productTitle}}</p>
                <p>Артикул: {{findedProd.productArticle}}</p>
                <p>Цена: {{findedProd.productPrice}}</p>
                <p>Кол-во: {{findedProd.productQuantity}}</p>
                <button (click)="edProd = true">Изменить</button>
                <button
                    (click)="delProd(findedProd); disable = false; editOProd = false; sendProd = false;">Удалить</button>
            </div>
        </div>
        <button (click)="editOProd = false; disable = false; sendProd = false">Закрыть</button>
    </div>
    <div *ngIf="!findedProd && sendProd">
        <p>Не найдено!</p>
    </div>
</div>
<button (click)="getProducts(); editedProd = true; disable = true" [disabled]='disable == true'>Вывести
    товары</button><br>
<div *ngIf="editedProd">
    <div *ngIf="!plusProd">
        <div *ngFor="let prod of receivedProducts" [ngClass]="{'is-active': prod.isActive}"
            style="display: inline-block; width: 200px; border: 1px solid black; padding: 20px; margin: 20px;">
            <p>{{prod.productId}}</p>
            <div *ngIf="prod.isActive">
                <input type="file" (change)="onFileChange($event)"><br>
                <input type="text" value="{{prod.productArticle}}" #arts
                    (keyup)="product.productArticle = arts.value"><br>
                <input type="text" value="{{prod.productPrice}}" #prices
                    (keyup)="product.productPrice = prices.value"><br>
                <input type="text" value="{{prod.productQuantity}}" #quans
                    (keyup)="product.productQuantity = quans.value"><br>
                <input type="text" value="{{prod.productTitle}}" #titls
                    (keyup)="product.productTitle = titls.value"><br>
                <button (click)="editProd(prod); prod.isActive = false">Сохранить</button>
                <button (click)="prod.isActive = false">Отменить</button>
            </div>
            <div *ngIf="!prod.isActive">
                <img src="{{ prod.productImg }}" width="50">
                <p>Наименование: {{prod.productTitle}}</p>
                <p>Артикул: {{prod.productArticle}}</p>
                <p>Цена: {{prod.productPrice}}</p>
                <p>Кол-во: {{prod.productQuantity}}</p>
                <button (click)="prod.isActive = true">Изменить</button>
                <button (click)="delProd(prod)">Удалить</button>
            </div>
        </div><br>
    </div>
    <div *ngIf="plusProd">
        <input type="file" (change)="onFileChange($event)"><br>
        <input type="text" #artse (keyup)="product.productArticle = artse.value" placeholder="Артикул"><br>
        <input type="text" #pricese (keyup)="product.productPrice = pricese.value" placeholder="Цена"><br>
        <input type="text" #quanse (keyup)="product.productQuantity = quanse.value" placeholder="Кол-во"><br>
        <input type="text" #titlse (keyup)="product.productTitle = titlse.value" placeholder="Название"><br>
        <select [(ngModel)]="stat">
            <option value="" disabled>Выберите действие</option>
            <option *ngFor="let cat of receivedCategory" [ngValue]="cat">{{cat.categoryTitle}}</option>
        </select>
        <button (click)="addProd(); plusProd = false">Сохранить</button>
        <button (click)="plusProd = false">Отменить</button>
    </div>
    <button *ngIf="!plusProd" (click)="plusProd = true; getCategory()">Добавить</button>
    <button (click)="editedProd = false; disable = false">Закрыть</button>
</div>
<button (click)="getCategory(); editCat = true; disable = true" [disabled]='disable == true'>Вывести категории</button>
<div *ngIf="editCat">
    <div *ngIf="!plusCat">
        <div *ngFor="let cat of receivedCategory; let index = index;" [ngClass]="{'is-active': cat.isActive}">
            <p>{{cat.categoryId}}</p>
            <div *ngIf="cat.isActive">
                <input type="file" (change)="onFileChange($event)"><br>
                <input type="text" value="{{cat.categoryTitle}}" #title (keyup)="categ = title.value"><br>
                <button (click)="editCateg(cat); cat.isActive = false">Сохранить</button>
                <button (click)="cat.isActive = false">Отменить</button>
            </div>
            <div *ngIf="!cat.isActive">
                <img src="{{ cat.categoryImg }}" width="50">
                <p>{{cat.categoryTitle}}</p>
                <button (click)="cat.isActive = true">Изменить</button>
                <button (click)="delCat(cat)">Удалить</button>
            </div>
        </div>
    </div>
    <div *ngIf="plusCat">
        <input type="file" (change)="onFileChange($event)"><br>
        <input type="text" #title (keyup)="categ = title.value" placeholder="Название"><br>
        <button (click)="addCat(); plusCat = false">Сохранить</button>
        <button (click)="plusCat = false">Отменить</button>
    </div>
    <button *ngIf="!plusCat" (click)="plusCat = true">Добавить</button>
    <button (click)="editCat = false; disable = false">Закрыть</button>
</div>
