.all {
    padding: 20px 135px 20px 135px;
    background-color: #F6F6F6;
    font-family: GTEestiProBook;
}

a {
    color: black;
    text-decoration: none;
}

.to_fav {
    color: #5A7BD0;
}

.from_fav {
    color: palevioletred
}

.prod {
    display: flex;
    margin-bottom: 50px;
}

.rows {
    display: flex;
    text-align: left;
}

.proceed {
    text-align: center;
    background-color: white;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.bold_text {
    font-weight: 900;
}

.btn_proceed {
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #5A7BD0;
    color: white;
    border-radius: 5px;
    outline: none;
}

.btn_catalog {
    padding: 20px;
    font-size: 13px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #5A7BD0;
    color: white;
    border-radius: 5px;
    outline: none;
}

.btn_add {
    padding: 8px;
    font-size: 13px;
    border: 1px solid #5A7BD0;
    color: #5A7BD0;
    outline: none;
    margin-left: 10px;
}

/* input {
    height: 38px;
    outline: none;
}

form.checkout {
    max-width: 500px;
    margin: 2rem auto;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 1rem 2rem;
    background: white;

    font-family: monospace;
    color: #525252;
    font-size: 1.1rem;
}

form.checkout button {
    padding: 0.5rem 1rem;
    color: white;
    background: coral;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
}

form.checkout button:active {
    background: rgb(165, 76, 43);
}

.StripeElement {
    width: 400px;
    margin: 1rem 0 1rem;
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
} */

/*
.standartView {
    font-size: 6px;
}

.fulledView {
    font-size: 30px;
} */
