<footer>
    <div class="row menu">
        <div class="col-md-3 list">
            <p class="title">Зарабатывайте</p>
            <a href="#">Ваши товары</a><br>
            <a href="#">Реферальная программа</a><br>
            <a href="#">Установите пастомат</a><br>
            <a href="#">Стань поставщиком</a><br>
        </div>
        <div class="col-md-3 list">
            <p class="title">О компании</p>
            <a href="#">Пресс-центр</a><br>
            <a href="#">Вакансии</a><br>
            <a href="#">Реквизиты</a><br>
            <a href="#">О компании</a><br>
        </div>
        <div class="col-md-3 list">
            <p class="title">Помощь</p>
            <a href="#">Как сделать заказ</a><br>
            <a href="#">Доставка</a><br>
            <a href="#">Оплата</a><br>
            <a href="#">Контакты</a><br>
            <a href="#">Безопасность</a><br>
        </div>
        <div class="col-md-3 list">
            <p class="title">Юридическим лицам</p>
            <a href="#">Подарочные сертификаты</a><br>
            <a href="#">Отройте пункт выдачи</a><br>
            <a href="#">Горячая линия по Этике</a><br>
        </div>
        <strong><a routerLink="status">Узнать статус заказа</a></strong>
    </div>
    <div class="row call">
        <div class="col-sm-10">
            Есть вопросы? Звоните! <b>#</b>
        </div>
        <div class="col-sm-2">
            <b>Или пишите</b>
        </div>
    </div>
    <div class="row info">
        <div class="col-sm-10">
            <p class="copy">© 2020 ООО «#»</p>
        </div>
        <div class="col-sm-2">
            <p class="social">Приложухи тут</p>
        </div>
    </div>
</footer>
