.row {
    padding: 20px 135px 20px 135px;
}

a {
    color: black;
    text-decoration: none;
}

.call {
    background-color: #F6F6F6;
}

.copy {
    color: rgb(155, 155, 155);
    font-weight: 700;
    font-size: 12px;
}

.title {
    font-weight: 700;
    margin-top: 10px;
}

.menu a {
    font-size: 13px;
}

.menu a:hover {
    color: #5A7BD0;
    text-decoration: none;
}

.list {
    text-align: center;
}
