@font-face {
    font-family: "GTEestiProBook";
    src: url("../fonts/GTEestiProText-Book.woff2") format("woff2");
}

* {
    font-family: GTEestiProBook;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
