<body>
    <div class="container">
        <div class="row">
            <div class="offset-2 col-6">
                <div class="card login shadow p-3 mb-5 bg-white rounded ">
                    <form [formGroup]="registerForm" (ngSubmit)="buttonsOn = true" *ngIf="!buttonsOn && !pass && !tester && !confNewPass && !resp">
                        <div class="form-group">
                            <input class="form-control" type="phone" formControlName="phone" placeholder="Телефон"
                                style="width:50%">
                        </div>
                        <input type="submit" class="btn btn-secondary align-right" value="Отправить">
                    </form>
                    <form *ngIf="pass" [formGroup]="passForm" (ngSubmit)="pass = false; logPass();">
                        <div class="form-group">
                            <!-- <input class="form-control" type="phone" formControlName="phone" placeholder="Телефон"
                                style="width:50%" required> -->
                            <p>{{registerForm.value.phone}}</p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" formControlName="password" placeholder="Пароль"
                                style="width:50%">
                        </div>
                        <input type="submit" class="btn btn-secondary align-right" value="Войти">
                        <input type="button" value="Назад" (click)="pass = false; buttonsOn = true">
                    </form>
                    <div *ngIf="resp != null">
                        <p>{{resp}}</p>
                        <button routerLink="/">Перейти на главную</button>
                    </div>
                    <div class="container" *ngIf="tester">
                        <p>Мы отправили код на {{ registerForm.value.phone }}</p>
                        <button (click)="tester = false; stopTimer()">Изменить</button>
                        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
                        <p *ngIf="!vis"> Получить новый код можно через 00:<span
                                *ngIf="timeLeft < 10">0</span>{{timeLeft}}</p>
                        <button (click)="vis = false; stopTimer(); register()" *ngIf="vis">Получить код
                            заного</button>
                        <button (click)="tester = false; stopTimer()">Отмена</button>
                    </div>
                    <form *ngIf="confNewPass" [formGroup]="changePass" (ngSubmit)="changePasses()">
                        <p>Введите новый пароль</p>
                        <div class="form-group">
                            <input class="form-control" type="password" formControlName="password"
                                placeholder="Введите пароль" style="width:50%" required>
                            <input class="form-control" type="password" formControlName="reppassword"
                                placeholder="Введите пароль повторно" style="width:50%" required>
                        </div>
                        <input type="submit" class="btn btn-secondary align-right" value="Добавить">
                        <button (click)="newPass = false; stopTimer()">Отменить</button>
                    </form>
                    <p *ngIf="buttonsOn">{{registerForm.value.phone}}</p>
                    <button *ngIf="buttonsOn" (click)="buttonsOn = false">Изменить</button>
                    <button *ngIf="buttonsOn" (click)="register(); buttonsOn = false; ">Получить смс</button>
                    <button *ngIf="buttonsOn" (click)="buttonsOn = false; pass = true;">Ввести пароль</button>
                    <!-- <div class="card-body">
                        <div class="container" *ngIf="tester">
                            <p>Мы отправили код на {{ registerForm.value.phone }}</p>
                            <button (click)="tester = false; stopTimer()">Изменить</button>
                            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
                            <p *ngIf="!vis"> Получить новый код можно через 00:<span
                                    *ngIf="timeLeft < 10">0</span>{{timeLeft}}</p>
                            <button (click)="vis = false; stopTimer(); register()" *ngIf="vis">Получить код
                                заного</button>
                            <button (click)="tester = false; stopTimer()">Отмена</button>
                        </div>
                        <form *ngIf="sms" [formGroup]="registerForm" (ngSubmit)="register()">
                            <div class="form-group">
                                <input class="form-control" type="phone" formControlName="phone" placeholder="Телефон"
                                    style="width:50%" required>
                            </div>
                            <input type="submit" class="btn btn-secondary align-right" value="Получить код">
                        </form>

                        <form *ngIf="confNewPass" [formGroup]="changePass" (ngSubmit)="changePasses()">
                            <p>Введите новый пароль</p>
                            <div class="form-group">
                                <input class="form-control" type="password" formControlName="password"
                                    placeholder="Введите пароль" style="width:50%" required>
                                <input class="form-control" type="password" formControlName="reppassword"
                                    placeholder="Введите пароль повторно" style="width:50%" required>
                            </div>
                            <input type="submit" class="btn btn-secondary align-right" value="Добавить">
                            <button (click)="newPass = false; stopTimer()">Отменить</button>
                        </form>

                        <form *ngIf="pass" [formGroup]="passForm" (ngSubmit)="logPass()">
                            <div class="form-group">
                                <input class="form-control" type="phone" formControlName="phone" placeholder="Телефон"
                                    style="width:50%" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" formControlName="password"
                                    placeholder="Пароль" style="width:50%">
                            </div>
                            <input type="submit" class="btn btn-secondary align-right" value="Войти">
                        </form>
                        <button *ngIf="!confNewPass && !tester" (click)="sms = true; pass = false">Получить смс</button>
                        <button *ngIf="!confNewPass && !tester" (click)="sms = false; pass = true">Ввести
                            пароль</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container" *ngIf="mail">
        <div class="row">
            <div class="offset-2 col-6">
                <div class="card login shadow p-3 mb-5 bg-white rounded ">
                    <div class="card-body">
                        <form [formGroup]="mailForm" (ngSubmit)="logMail()">
                            <div class="form-group">
                                <input class="form-control" type="email" formControlName="email" placeholder="Email"
                                    style="width:50%" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" formControlName="password"
                                    placeholder="Password" style="width:50%">
                            </div>
                            <input type="submit" class="btn btn-secondary align-right" value="Войти">
                        </form>
                        <button (click)="typeChange()">Войти по телефону</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</body>
