<button (click)="isInfo = true; isOrder = false;">Личная информация</button>|<button
    (click)="isOrder = true; isInfo = false">Заказы</button><br>
<div *ngIf="isInfo">
    <strong>Учетная запись</strong>
    <p>Телефон</p>

    <div *ngIf="receivedUser?.phone && !phones && !tester && !confirm && !confotp">
        <p>{{ receivedUser?.phone }}</p>
        <button (click)="confirm = true">Изменить</button>
    </div>
    <div *ngIf="confirm">
        <p>Для подтверждения действия, мы должны выслать код на данный номер телефона {{ receivedUser?.phone }}</p>
        <button (click)="confirmPhone()">Выслать</button>
        <button (click)="confirm = false">Отменить</button>
    </div>
    <div class="container" *ngIf="confotp">
        <p>Мы отправили код на {{ receivedUser?.phone }}</p>
        <ng-otp-input (onInputChange)="confOnOtpChange($event)" [config]="config"></ng-otp-input>
        <p *ngIf="!vis"> Получить новый код можно через 00:<span *ngIf="timeLeft < 10">0</span>{{timeLeft}}</p>
        <button (click)="vis = false; stopTimer(); confirmPhone()" *ngIf="vis">Получить код заного</button>
        <button (click)="confotp = false; stopTimer()">Отменить</button>
    </div>
    <form *ngIf="phones" [formGroup]="changePhone" (ngSubmit)="stopTimer(); changePhones()">
        <p>Введите номер телефона на который хотите поменять:</p>
        <div class="form-group">
            <input class="form-control" type="phone" formControlName="phone" placeholder="Введите телефон"
                style="width:50%" required>
        </div>
        <input type="submit" class="btn btn-secondary align-right" value="Добавить">
        <button (click)="phones = false; stopTimer()">Отменить</button>
    </form>
    <div class="container" *ngIf="tester">
        <p>Мы отправили код на {{ changePhone.value.phone }}</p>
        <button (click)="tester = false; phones = true; vis = false; stopTimer();">Изменить</button>
        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
        <p *ngIf="!vis"> Получить новый код можно через 00:<span *ngIf="timeLeft < 10">0</span>{{timeLeft}}</p>
        <button (click)="vis = false; stopTimer(); changePhones()" *ngIf="vis">Получить код заного</button>
        <button (click)="tester = false; stopTimer()">Отменить</button>
    </div>



    <p>Пароль</p>
    <div *ngIf="receivedUser?.password && !confirmPass && !confirmPassOtp && !newPass">
        <p>{{ "*".repeat(receivedUser?.password.length-1)+receivedUser?.password[receivedUser?.password.length-1] }}</p>
        <button (click)="confirmPass = true">Изменить</button>
    </div>

    <div *ngIf="confirmPass">
        <p>Для подтверждения действия, мы должны выслать код на данный номер телефона {{ receivedUser?.phone }}</p>
        <button (click)="confirmPassword()">Выслать</button>
        <!-- <button (click)="newPass = true">Выслать</button> -->
        <button (click)="confirmPass = false">Отменить</button>
    </div>
    <div class="container" *ngIf="confirmPassOtp">
        <p>Мы отправили код на {{ receivedUser?.phone }}</p>
        <ng-otp-input (onInputChange)="confPassOnOtpChange($event)" [config]="config"></ng-otp-input>
        <p *ngIf="!vis"> Получить новый код можно через 00:<span *ngIf="timeLeft < 10">0</span>{{timeLeft}}</p>
        <button (click)="vis = false; stopTimer(); confirmPassword()" *ngIf="vis">Получить код заного</button>
        <button (click)="confirmPassOtp = false; stopTimer()">Отменить</button>
    </div>
    <form *ngIf="newPass" [formGroup]="changePass" (ngSubmit)="changePasses()">
        <p>Введите новый пароль</p>
        <div class="form-group">
            <input class="form-control" type="password" formControlName="password" placeholder="Введите пароль"
                style="width:50%" required>
            <input class="form-control" type="password" formControlName="reppassword"
                placeholder="Введите пароль повторно" style="width:50%" required>
        </div>
        <input type="submit" class="btn btn-secondary align-right" value="Добавить">
        <button (click)="newPass = false; stopTimer()">Отменить</button>
    </form>


    <p>Email</p>
    <div *ngIf="receivedUser?.email && !confirmEmail && !emailtester">
        <p>{{ receivedUser?.email}}</p>
        <button (click)="confirmEmail = true">Изменить</button>
    </div>
    <div *ngIf="!receivedUser?.email && !confirmEmail && !emailtester">
        <p>Не указано</p>
        <button (click)="confirmEmail = true">Добавить</button>
    </div>

    <form *ngIf="confirmEmail" [formGroup]="changeEmail" (ngSubmit)="changeEmails()">
        <p>Введите адрес электронной почты:</p>
        <div class="form-group">
            <input class="form-control" type="email" formControlName="email" placeholder="Введите почту"
                style="width:50%" required>
        </div>
        <input type="submit" class="btn btn-secondary align-right" value="Добавить">
        <button (click)="confirmEmail = false; stopTimer()">Отменить</button>
    </form>

    <div class="container" *ngIf="emailtester">
        <p>Мы отправили код на {{ changeEmail.value.email }}</p>
        <button (click)="emailtester = false; confirmEmail = true; vis = false; stopTimer();">Изменить</button>
        <ng-otp-input (onInputChange)="confEmailOnOtpChange($event)" [config]="config"></ng-otp-input>
        <p *ngIf="!vis"> Получить новый код можно через 00:<span *ngIf="timeLeft < 10">0</span>{{timeLeft}}</p>
        <button (click)="vis = false; stopTimer(); changeEmails()" *ngIf="vis">Получить код заного</button>
        <button (click)="emailtester = false; stopTimer()">Отменить</button>
    </div>
    <!-- <form *ngIf="phones" [formGroup]="changePhone" (ngSubmit)="changePhones()">
        <p>Введите номер телефона на который хотите поменять:</p>
        <div class="form-group">
            <input class="form-control" type="phone" formControlName="phone" placeholder="Введите телефон"
                style="width:50%" required>
        </div>
        <input type="submit" class="btn btn-secondary align-right" value="Добавить">
        <button (click)="phones = false; stopTimer()">Отменить</button>
    </form> -->
    <!-- <strong>Личные данные</strong>
    <p>ФИО</p>
    <div *ngIf="!bio">
        <div *ngIf="receivedUser?.fullname">
            <p>{{ receivedUser?.fullname }}</p>
        </div>
        <div *ngIf="!receivedUser?.fullname">
            <p>Не указано</p>
        </div>
    </div>
    <div *ngIf="bio">
        <input type="text" [(ngModel)]="change.fullname">
    </div>
    <p>Дата рождения</p>
    <div *ngIf="!bio">
        <div *ngIf="receivedUser?.dob">
            <p>{{ receivedUser?.dob | date: 'dd/MM/yyyy' }} года</p>
        </div>
        <div *ngIf="!receivedUser?.dob">
            <p>Не указано</p>
        </div>
    </div>
    <div *ngIf="bio">
        <input type="date" [(ngModel)]="change.dob">
    </div>
    <p>Пол</p>
    <div *ngIf="!bio">
        <div *ngIf="receivedUser?.gender">
            <p>{{ receivedUser?.gender }}</p>
        </div>
        <div *ngIf="!receivedUser?.gender">
            <p>Не указано</p>
        </div>
    </div>
    <div *ngIf="bio">
        <input type="radio" value="Мужской" [(ngModel)]="change.gender">Мужской
        <input type="radio" value="Женский" [(ngModel)]="change.gender">Женский
    </div>
    <button *ngIf="!bio" (click)="bio = true">Изменить личные данные</button>
    <button *ngIf="bio" (click)="add()">Обновить</button>
    <button *ngIf="bio == true" (click)="canc()">Отмена</button><br>
    <button (click)="delete()">Удалить профиль</button>
</div>

<div *ngIf="isOrder">
    <strong>Активные заказы</strong>
    <div *ngIf="receivedOrders.length > 0">
        <div *ngFor="let order of receivedOrders">
            <strong>Заказ номер {{ order.orderId }}</strong>
            <div *ngFor="let aorder of receivedAOrders">
                <div *ngIf="aorder.orderId == order.orderId">
                    <p> {{ aorder.productTitle }} x {{ aorder.productQuantity }}</p>
                    <img src="{{ aorder.productImg }}" width="50">
                </div>
            </div>
            <p>Статус заказа: {{ order.orderStatus }}</p>
            <p>Сумма заказа: {{ order.orderCost }}</p>
        </div>
    </div>
    <div *ngIf="receivedOrders.length == 0">
        <p>Нет заказов!</p>
    </div>
    <div *ngIf="receivedOrdersFinal.length > 0">
        <strong>Завершенные заказы</strong>
        <div *ngFor="let order of receivedOrdersFinal">
            <strong>Заказ номер {{ order.orderId }}</strong>
            <div *ngFor="let aorder of receivedAOrdersFinal">
                <div *ngIf="aorder.orderId == order.orderId">
                    <p> {{ aorder.productTitle }} x {{ aorder.productQuantity }}</p>
                    <img src="{{ aorder.productImg }}" width="50">
                </div>
            </div>
            <p>Статус заказа: {{ order.orderStatus }}</p>
            <p>Сумма заказа: {{ order.orderCost }}</p>
        </div>
    </div> -->
    <strong>Личные данные</strong>
    <p>ФИО</p>
    <div *ngIf="!bio">
        <div *ngIf="receivedUser?.fullname">
            <p>{{ receivedUser?.fullname }}</p>
        </div>
        <div *ngIf="!receivedUser?.fullname">
            <p>Не указано</p>
        </div>
    </div>
    <div *ngIf="bio">
        <input type="text" [(ngModel)]="change.fullname">
    </div>
    <p>Дата рождения</p>
    <div *ngIf="!bio">
        <div *ngIf="receivedUser?.dob">
            <p>{{ receivedUser?.dob | date: 'dd/MM/yyyy' }} года</p>
        </div>
        <div *ngIf="!receivedUser?.dob">
            <p>Не указано</p>
        </div>
    </div>
    <div *ngIf="bio">
        <input type="date" [(ngModel)]="change.dob">
    </div>
    <p>Пол</p>
    <div *ngIf="!bio">
        <div *ngIf="receivedUser?.gender">
            <p>{{ receivedUser?.gender }}</p>
        </div>
        <div *ngIf="!receivedUser?.gender">
            <p>Не указано</p>
        </div>
    </div>
    <div *ngIf="bio">
        <input type="radio" value="Мужской" [(ngModel)]="change.gender">Мужской
        <input type="radio" value="Женский" [(ngModel)]="change.gender">Женский
    </div>
    <!-- <p>Адрес</p>
    <div *ngIf="!bio">
        <div
            *ngIf="receivedBio?.address || receivedBio?.flat || receivedBio?.door || receivedBio?.floor && receivedBio?.doorphone && receivedBio?.ind">
            <p>{{ receivedBio?.address + ', кв. ' + receivedBio?.flat + ', подъезд ' + receivedBio?.door + ', этаж ' + receivedBio?.floor + ', домофон ' + receivedBio?.doorphone + ', индекс ' + receivedBio?.ind }}
            </p>
        </div>
        <div
            *ngIf="!receivedBio?.address && !receivedBio?.flat && !receivedBio?.door && !receivedBio?.floor && !receivedBio?.doorphone && !receivedBio?.ind">
            <p>Не указано</p>
        </div>
    </div>
    <div *ngIf="bio"> -->
    <!-- <input type="radio">{{ receivedBio?.address + ', кв. ' + receivedBio?.flat + ', подъезд ' + receivedBio?.door + ', этаж ' + receivedBio?.floor + ', домофон ' + receivedBio?.doorphone + ', индекс ' + receivedBio?.ind }}
        <input type="radio">Лол -->
    <!-- <input [(ngModel)]="change.address" type="text" placeholder="Страна, город, улица, дом" style="width:50%">
        <input [(ngModel)]="change.flat" type="text" placeholder="Квартира/офис" style="width:50%">
        <input [(ngModel)]="change.ind" type="text" placeholder="Индекс" style="width:50%">
        <input [(ngModel)]="change.door" type="text" placeholder="Подъезд" style="width:50%">
        <input [(ngModel)]="change.floor" type="text" placeholder="Этаж" style="width:50%">
        <input [(ngModel)]="change.doorphone" type="text" placeholder="Домофон" style="width:50%"> -->
    <!-- </div> -->
    <button *ngIf="!bio" (click)="bio = true">Изменить личные данные</button>
    <button *ngIf="bio" (click)="add()">Обновить</button>
    <button *ngIf="bio == true" (click)="canc()">Отмена</button><br>
    <button (click)="delete()">Удалить профиль</button>
</div>

<div *ngIf="isOrder">
    <strong>Активные заказы</strong>
    <div *ngIf="val">
        <p>Автоматический возврат заказа {{ork}} не доступен, ваш заказ находится в обработке. Вы можете отправить
            запрос
            на отмену администратору! Если ваша заявка будет одобрена, деньги вернутся на ваш счет!</p>
        <button (click)="sendRequest(); val = false">Отправить</button>
        <button (click)="val = false">Отказаться</button>
    </div>
    <div *ngIf="receivedOrders.length > 0">
        <div *ngFor="let order of receivedOrders" [ngClass]="{'is-active': order.isActive}">
            <strong>Заказ номер {{ order.orderId }}</strong>
            <div *ngFor="let aorder of receivedAOrders">
                <div *ngIf="aorder.orderId == order.orderId">
                    <p> {{ aorder.productTitle }} x {{ aorder.productQuantity }}</p>
                    <img src="{{ aorder.productImg }}" width="50">
                </div>
            </div>
            <p>Статус заказа: {{ order.orderStatus }}</p>
            <p>Сумма заказа: {{ order.orderCost }}</p>
            <div *ngIf="order.cancOrder == 2">
                <button (click)="confirmDecide(order)">X</button>
                <p>Администратор отклонил вашу заявку.</p>
            </div>
            <button *ngIf="order.cancOrder == 0" (click)="order.isActive = true">Отменить заказ</button>
            <div *ngIf="order.isActive">
                <p>Отменить заказ можно только на этапе 'На складе', в ином случае запрос на отмену будет отправлен
                    администратору! Вы согласны?</p>
                <button (click)="cancOrd(order); order.isActive = false">Да</button>
                <button (click)="order.isActive = false">Нет</button>
            </div>
        </div>
    </div>
    <div *ngIf="receivedOrders.length == 0">
        <p>Нет заказов!</p>
    </div>
    <div *ngIf="receivedOrdersFinal.length > 0">
        <strong>Завершенные заказы</strong>
        <div *ngFor="let order of receivedOrdersFinal">
            <strong>Заказ номер {{ order.orderId }}</strong>
            <div *ngFor="let aorder of receivedAOrdersFinal">
                <div *ngIf="aorder.orderId == order.orderId">
                    <p> {{ aorder.productTitle }} x {{ aorder.productQuantity }}</p>
                    <img src="{{ aorder.productImg }}" width="50"><br>
                    <div *ngIf="aorder.reviewed == 0">
                        <button (click)="makeReview(aorder)">Оставить отзыв</button>
                    </div>
                </div>
            </div>
            <p>Статус заказа: {{ order.orderStatus }}</p>
            <p>Сумма заказа: {{ order.orderCost }}</p>
        </div>
        <!-- <button (click)="lol()">Click</button> -->
        <div *ngIf="review">
            <strong>Мы будем благодарны вашему отзыву!</strong>
            <p>Отзыв к товару: {{this.prodTitle}}</p>
            <input type="radio" [(ngModel)]="reviewed.rating" value="1">1
            <input type="radio" [(ngModel)]="reviewed.rating" value="2">2
            <input type="radio" [(ngModel)]="reviewed.rating" value="3">3
            <input type="radio" [(ngModel)]="reviewed.rating" value="4">4
            <input type="radio" [(ngModel)]="reviewed.rating" value="5">5
            <br><input type="textarea" #text (keyup)="reviewed.reviewText = text.value" placeholder="Текст отзыва"><br>
            <button (click)="sendReview(); review = false">Отправить</button>
        </div>
    </div>
</div>
