<body>
    <button (click)="lol()">Here</button>
    <div class="row all">
        <!-- <div class="col-sm-8">
            <img src="https://main-cdn.goods.ru/upload/medialibrary/7/fb/490/7fb4903fb96fcd84c9bc7590ad935dce/341bdc27c4212808bce04d1309b70efe.png" alt="img" width="870">
        </div>
        <div class="col-sm-4">
            <img src="https://main-cdn.goods.ru/upload/medialibrary/5/2e/a17/52ea174486e79024041dd7cec67783ed/8696839225bf833772ce6c04c937ed6d.jpg" alt="img" width="290">
            <div>
                <img src="https://main-cdn.goods.ru/upload/medialibrary/4/23/f46/423f46519386d05905de1e42d6832f28/55d9b779ca99d464390f01be6e1a6a11.jpg" alt="img" width="290">
            </div>
        </div> -->
        <div class="col-sm-2 card">
            <p>%category_title%</p>
            <p>150 000 товаров</p>
            <img src="#" alt="img">
        </div>
        <div class="col-sm-2 card">
            <p>%category_title%</p>
            <p>150 000 товаров</p>
            <img src="#" alt="img">
        </div>
        <div class="col-sm-2 card">
            <p>%category_title%</p>
            <p>150 000 товаров</p>
            <img src="#" alt="img">
        </div>
        <div class="col-sm-2 card">
            <p>%category_title%</p>
            <p>150 000 товаров</p>
            <img src="#" alt="img">
        </div>

        <!-- <div class="col-sm-2 card_two">
            <div class="row">
                <div class="col-sm-4">
                    <img src="#" alt="img">
                </div>
                <div class="col-sm-8">
                    <p>%category_title%</p><br>
                    <p>80 000 товаров</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 card_two">
            <div class="row">
                <div class="col-sm-4">
                    <img src="#" alt="img">
                </div>
                <div class="col-sm-8">
                    <p>%category_title%</p><br>
                    <p>80 000 товаров</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 card_two">
            <div class="row">
                <div class="col-sm-4">
                    <img src="#" alt="img">
                </div>
                <div class="col-sm-8">
                    <p>%category_title%</p><br>
                    <p>80 000 товаров</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 card_two">
            <div class="row">
                <div class="col-sm-4">
                    <img src="#" alt="img">
                </div>
                <div class="col-sm-8">
                    <p>%category_title%</p><br>
                    <p>80 000 товаров</p>
                </div>
            </div>
        </div>

        <div>
            <p class="bold_text">Бренды</p>
            <div class="row">
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
                <div class="col-sm-2"><img src="https://main-cdn.goods.ru/upload/brand_logos/nestle.png" alt="img"
                        width="160"></div>
            </div>
        </div> -->
        <!-- <div style="display: flex; text-align: center;"> -->
        <!-- <div class="col-sm-3">
            <div class="row">
                <i class="fas fa-coins fa-2x"></i>
                <p class="tcons">Бонусные рубли <br>за покупки</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <i class="fas fa-tags fa-2x"></i>
                <p class="tcons">Самые выгодные <br>цены</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <i class="fas fa-truck fa-2x"></i>
                <p class="tcons">Товары одной <br>доставкой</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <i class="fas fa-user-check fa-2x"></i>
                <p class="tcons">2000 проверенных <br>продавцов</p>
            </div>
        </div> -->
        <!-- </div> -->
    </div>
</body>
