<strong>Активные заказы</strong>
<div *ngIf="receivedOrders.length > 0">
    <div *ngFor="let order of receivedOrders" [ngClass]="{'is-active': order.isActive}">
        <strong>Заказ номер {{ order.orderId }}</strong>
        <div *ngFor="let aorder of receivedAOrders">
            <div *ngIf="aorder.orderId == order.orderId">
                <p> {{ aorder.productTitle }} x {{ aorder.productQuantity }}</p>
                <img src="{{ aorder.productImg }}" width="50">
            </div>
        </div>
        <div *ngIf="!order.isActive">
            <p>Статус заказа: {{ order.orderStatus }}</p>
            <button *ngIf="!status" (click)="order.isActive = true">Изменить</button>
        </div>
        <div *ngIf="order.isActive">
            <select [(ngModel)]="stat.now">
                <option value="" disabled>Выберите действие</option>
                <option *ngFor="let stat of Status" [ngValue]="stat">{{stat}}</option>
            </select>
            <button (click)="confStatus(order, order.phone)">Подтвердить</button>
            <button (click)="order.isActive = false">Отменить</button>
        </div>
        <p>Адрес: {{order.address}}</p>
        <p>Сумма заказа: {{ order.orderCost }}</p>
        <p>Id заказчика: {{ order.uuid }}</p>
        <p>Номер заказчика: {{ order.phone }}</p>
        <p *ngIf="order.email">Почта заказчика: {{ order.email }}</p>
        <p *ngIf="order.comment">Комментарий: {{ order.comment }}</p>
        <div *ngIf="order.cancOrder == 1">
            <p>Получена заявка на отмену заказа!</p>
            <button (click)="decideYes(order)">Подтвердить</button>
            <button (click)="decideNo(order)">Отклонить</button>
        </div>
    </div>
</div>
<div *ngIf="receivedOrders.length == 0">
    <p>Нет активных заказов!</p>
</div>

<strong>Завершенные заказы</strong>
<div *ngIf="receivedOrdersFinal.length > 0">
    <div *ngFor="let order of receivedOrdersFinal">
        <strong>Заказ номер {{ order.orderId }}</strong>
        <button (click)="del(order.orderId)">X</button>
        <div *ngFor="let aorder of receivedAOrdersFinal">
            <div *ngIf="aorder.orderId == order.orderId">
                <p> {{ aorder.productTitle }} x {{ aorder.productQuantity }}</p>
                <img src="{{ aorder.productImg }}" width="50">
            </div>
        </div>
        <p>Статус заказа: {{ order.orderStatus }}</p>
        <p>Сумма заказа: {{ order.orderCost }}</p>
        <p>Id заказчика: {{ order.uuid }}</p>
        <p>Номер заказчика: {{ order.phone }}</p>
        <p *ngIf="order.email">Почта заказчика: {{ order.email }}</p>
        <p *ngIf="order.comment">Комментарий: {{ order.comment }}</p>
    </div>
</div>
<div *ngIf="receivedOrdersFinal.length == 0">
    <p>Нет завершенных заказов!</p>
</div>
