<!-- <div *ngIf="component == 'wishlist'" style="text-align: right;">
    <button style="text-align: right;" (click)="delFromWishlist(product.productId)" style="width: 25px">x</button>
</div>
<div class="col-sm-1">
    <img src="{{ product.productImg }}" alt="img" width="50">
</div>
<div class="col-sm-3">
    <a routerLink="/product/{{ product.productArticle }}">
        {{ product.productTitle }}
        <p *ngIf="component == 'wishlist'">{{ product.productPrice | format}} ₽</p>
    </a><br>
    <div *ngIf="component == 'cart'">
        <i *ngIf="checkWish(product.productId)" class="fas fa-heart" (click)="delFromWishlist(product.productId)"></i>
        <i *ngIf="!checkWish(product.productId)" class="far fa-heart" (click)="addToWishlist(product.productId)"></i>
    </div>
</div>


<div *ngIf="component == 'wishlist'">
    <button class="btn_add" *ngIf="!checkCart(product.productId) && product.productQuantity > 0"
        (click)="addToCart(product.productId)">В корзину</button>
    <div *ngIf="product.productQuantity < 10 && product.productQuantity > 0">
        <p>В наличии: {{ product.productQuantity }} шт.</p>
    </div>
    <div *ngIf="product.productQuantity > 10">
        <p>В наличии: много</p>
    </div>
    <div *ngIf="product.productQuantity == 0">
        <p>Нет в наличии</p>
    </div>
</div>

<div class="col-sm-2">
    <p>{{ product.productPrice | format }} ₽</p>
</div>
<div *ngIf="checkCart(product.productId)" class="col-sm-3">
    <button (click)="minus(product)">-</button>
    <input type="text" style="width: 30px;" value="{{quan(product.productId)}}" id="{{ i }}"
        (change)="change($event, product, i)">
    <button (click)="plus(product)">+</button>
</div>
<div *ngIf="component == 'cart'" class="col-sm-2">
    {{ product.productPrice * product.productQuantity | format }} ₽
</div>
<div *ngIf="component == 'cart'" class="col-sm-1">
    <button style="text-align: right;" (click)="delFromCart(product.productId)">x</button>
</div> -->
<div *ngIf="component == 'wishlist' || component == 'search' || component == 'catalog'" class="col-sm-12 card"
    style="padding: 10px;">
    <div *ngIf="component == 'wishlist'" style="text-align: right;">
        <button style="text-align: right;" (click)="delFromWishlist(product.productId)" style="width: 25px">x</button>
    </div>
    <div style="text-align: center;">
        <img src="{{ product.productImg }}" alt="img" width="80">
    </div>
    <a routerLink="/product/{{ product.productArticle }}">
        <p>{{ product.productTitle }}</p>
        <p>{{ product.productPrice | format}} ₽</p>
    </a>
    <div *ngIf="component == 'search' || component == 'catalog'">
        <i *ngIf="checkWish(product.productId)" class="fas fa-heart" (click)="delFromWishlist(product.productId)"></i>
        <i *ngIf="!checkWish(product.productId)" class="far fa-heart" (click)="addToWishlist(product.productId)"></i>
    </div>
    <app-star-rating [rating]="product.rating"></app-star-rating>
    <button class="btn_add" *ngIf="!checkCart(product.productId) && product.productQuantity > 0"
        (click)="addToCart(product.productId)">В корзину</button>
    <div *ngIf="product.productQuantity < 10 && product.productQuantity > 0">
        <p>В наличии: {{ product.productQuantity }} шт.</p>
    </div>
    <div *ngIf="product.productQuantity > 10">
        <p>В наличии: много</p>
    </div>
    <div *ngIf="product.productQuantity == 0">
        <p>Нет в наличии</p>
    </div>
    <div *ngIf="checkCart(product.productId)">
        <button (click)="minus(product)">-</button>
        <input #pRef type="text" style="width: 30px;" value="{{quan(product.productId)}}"
            (change)="change($event, product, i)">
        <!-- <input type="text" style="width: 30px;" value="{{quan(product.productId)}}" id="{{ i }}"
            (change)="change($event, product, i)"> -->
        <button (click)="plus(product)">+</button>
    </div>
</div>
<div class="row prod" *ngIf="component == 'cart'">
    <div class="col-sm-1">
        <img [ngStyle]="{'visibility':rtl.imgDis, '-webkit-filter':'grayscale('+rtl.imgBw+'%)'}"
            src="{{ product.productImg }}" alt="img" width="50">
    </div>
    <div class="col-sm-3">
        <a routerLink="/product/{{ product.productArticle }}">
            {{ product.productTitle }}
        </a><br>
        <i *ngIf="checkWish(product.productId)" class="fas fa-heart" (click)="delFromWishlist(product.productId)"></i>
        <i *ngIf="!checkWish(product.productId)" class="far fa-heart" (click)="addToWishlist(product.productId)"></i>
    </div>
    <div class="col-sm-2">
        <p>{{ product.productPrice | format }} ₽</p>
    </div>
    <div *ngIf="checkCart(product.productId)" class="col-sm-3">
        <button (click)="minus(product)">-</button>
        <input #pRef type="text" style="width: 30px;" value="{{quan(product.productId)}}" id="{{ i }}"
            (change)="change($event, product, i)">
        <button (click)="plus(product)">+</button>
    </div>
    <div class="col-sm-2">
        {{ product.productPrice * cartQty(product.productId) | format }} ₽
    </div>
    <div class="col-sm-1">
        <button style="text-align: right;" (click)="delFromCart(product.productId)">x</button>
    </div>
</div>
